<%= render "shared/home/navbar" %>

<div class="container my-4">
  <div class="jumbotron">
    <h1 class="display-4">
      Collect Better Data
    </h1>
    <p class="lead">
      Welcome to <strong class="text-primary h3">Coding Blocks Forms</strong>,
      the popular Forms App
      - made with ❤️ by
      <a class="text-black-50" href="https://codingblocks.com">Coding Blocks</a>
    </p>
    <hr class="my-4">
    <p>
      The most important online interaction for a business is the exchange of information. Don’t leave it to chance.
    </p>
    <p>
      Beautiful. Conversational. Easy. A friendly experience that invites more answers.
    </p>
    <a class="btn btn-outline-primary btn-lg mx-4 my-1" href="https://codingblocks.com" role="button">
      ← Go to Coding Blocks homepage
      <span id="timer"> in 4</span>
    </a>
    <a class="btn btn-outline-dark btn-lg mx-4 my-1" href="/forms/new" role="button">
      Create New Form →
    </a>
    <a href="/forms" class="btn btn-outline-dark btn-lg mx-4 my-1">All Forms →</a>
  </div>
</div>